@use '../../../../common/styles/utils/variables' as *;
@use '../../../../common/styles/utils/mixins' as *;

.usersSort {
  display: grid;
  gap: 15px;

  @include onTablet {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__sort-by {
    position: relative;
  }

  &__trigger {
    all: unset;
    outline: revert;

    display: inline-block;
    width: max-content;
    padding: 5px 15px;
    background-color: $main-text-color;
    border-radius: 40px;

    color: $second-bg-color;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    transition: box-shadow $effectDuration;

    &:hover {
      box-shadow: 3px 3px 20px $main-text-color;
    }

    &--active {
      background-color: rgb(62, 142, 208);
    }
  }

  &__dropdown-content {
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 15px;
    background-color: $main-text-color;
    box-shadow: 3px 3px 20px $main-text-color;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity $effectDuration, transform $effectDuration;

    &--visible {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &__dropdown-element {
    padding: 5px 25px;

    background-color: $second-bg-color;
    border-radius: 40px;

    color: $main-text-color;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: box-shadow $effectDuration;

    &:hover {
      box-shadow: 3px 3px 20px $second-bg-color;
    }
  }
}
