@use '../utils/variables' as *;

.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;
  background-color: $main-bg-color;
  scroll-behavior: smooth;

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
