@use '../../common/styles/utils/variables' as *;
@use '../../common/styles/utils/mixins' as *;

.notFoundPage {
  flex-grow: 1;
  background-color: $second-bg-color;
  border-radius: 50px 50px 0 0;

  padding-block: 40px;

  @include onTablet {
    padding-block: 50px;
  }

  &__title {
    margin: 0 0 10px;
    font-size: 18px;
    font-style: italic;
    text-align: center;

    @include onTablet {
      font-size: 20px;
    }
  }
}
